.slider {
  height: 60vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  direction: ltr;
  .container {
    width: 100%;
    height: 100%;
    display: flex;
    transition: all 0.8s ease;
    img {
      width: 100vw;
      height: 100%;
      object-fit: cover;
    }
  }
  .buttons {
    width: fit-content;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    bottom: 50px;
    right: 100px;
    .button-container {
      display: flex;
      gap: 10px;
      .icon {
        border: 1px solid white;
        background: rgba(159, 159, 159, 0.438);
        padding: 5px;
        display: flex;
        align-items: center;
        cursor: pointer;
      }
    }
    .dots {
      display: flex;
      gap: 3px;
      .dot {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: #f1f1f1;
      }
    }
    .dot.active {
      background: rgb(32, 32, 32);
    }
  }
}
@media screen and (max-width: 700px) {
  .slider {
  }
}
.active-anim {
  opacity: 1;
}
.btn-slide {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #f1f1f1;
  border: 1px solid rgba(34, 34, 34, 0.287);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.btn-slide img {
  width: 25px;
  height: 25px;
  pointer-events: none;
}
